
ul#messages {
  position: absolute;
  right: 2em;
  border-radius: .7em;
  padding: 1em;
  background-color: #30363d;
  opacity: .65;
  color: #f8f8f8;
  max-width: 30em;
  cursor: pointer;
  z-index: 99;
}
ul#messages li {
  list-style: square inside;
}
ul#messages.hidden {
  display: none;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #303030;
}
caption,
h3.caption {
  color: #4e4e4e;
  font-size: 108%;
  margin-bottom: 1em;
  font-weight: normal;
}
caption strong,
h3.caption strong {
  color: black;
}
#content #context > table {
  width: 823px;
}
#content #context div.indicatorwrapper {
  margin-bottom: 1em;
  padding: 2px;
  width: 650px;
  overflow: auto;
}
#content #context div.indicatorwrapper table {
  margin-bottom: 0;
}
th {
  background: none repeat scroll 0 0 #88d16f;
  color: #ffffff;
  text-transform: uppercase;
  padding: 8px;
}
td,
th {
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}
td {
  padding: 8px;
}
tr {
  border-bottom: solid 6px #ffffff;
}
tr:nth-child(even) td {
  background-color: #f8f8f8;
}
tr:nth-child(odd) td {
  background-color: #f2f2f2;
}
td a,
td a:visited,
td a:hover,
td a:link {
  color: #2d2d2d;
}
#content.context #context {
  position: relative;
  background-color: #ebebeb;
  padding: 1em 0em 1em 0em;
}
#content.context th,
#content.context td {
  border-left: 2px solid #ebebeb;
  border-right: 2px solid #ebebeb;
}
#content.context tr {
  border-bottom: solid 6px #ebebeb;
}
tr.reference th {
  background-color: #6ec750;
}
.click {
  cursor: pointer;
}
tr:hover td {
  background-color: #88d16f;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
.lower {
  text-transform: lowercase;
}
div.fileinputs input#fakefield {
  margin-left: 8px;
  margin-top: 6px;
  padding-top: 3px;
  padding-left: 6px;
  border-radius: 1em;
  background-color: white;
  border: 1px solid #b8e4a9;
  height: 16px;
  color: #2c3238;
  text-transform: uppercase;
  font-size: 77%;
  width: 28.8em;
  cursor: pointer;
}
span.button {
  background-color: transparent;
  text-transform: uppercase;
  padding: 0;
  padding-right: 2px;
  margin: 0;
  border: 0;
  color: #f8f8f8;
  z-index: 1;
  display: none;
  cursor: pointer;
}