<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Home</title></head>
<link rel="stylesheet" media="print" type="text/css" src="css/zerin.css" />
<script type="text/javascript" src="templates/js/jquery-1.6.2.min.js"></script>

<body onload="">
<h1>Fadiga Dolo</h1>
<button id="update_btn" type="text">CLICK ME!</button>
<div id="content" style="display:none;">
    <h2>Envois recents</h2>
    <table id="sent_table">
        <tr><th>Numero</th><th>Nom</th><th>Statut</th></tr>
    </table>
</div>
</body>
</html>