<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- <link rel="stylesheet" media="screen" type="text/css" href="/static/css/zerin.css" /> -->
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
<title>Hello</title>

</head>
<body>
<div class="container">
    <h1>Fadiga Dolo</h1>
    <button id="update_btn" type="text">CLICK ME!</button>
    <div id="content" style="display:none;">
        <h2>Envois recents</h2>
        <table id="sent_table"  class="table table-striped">
            <tr><th>Numero</th><th>Nom</th><th>Statut</th></tr>
        </table>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
     $("#update_btn").click(function(event){

        $.getJSON('/test', function(data) {

          $.each(data.sent, function(num, dd) {
            row = "<tr><td>" + dd.number + "</td><td>" + dd.name + "</td><td>" + dd.status + "</td></tr>"
            $("#sent_table").append(row);

          });
        $("#content").show();

        });


    });

});
</script>
</html>